page-addnewjob {
    font-family: "Microsoft YaHei";
    .center {
      text-align: center;
    }
    .calendar-header-col {
      font-size: 1rem;
      color: rgb(0, 0, 0);
    }
    .calendar-row {
      &:last-child {
       
      }
      .calendar-col {
        display: flex;
        justify-content: center;
        padding: 0.8rem;
        height: 32px;
        width: 32px;
        font-weight: bold;
        color: #000;
        font-size: 15px;
        margin-left: 6px;
        margin-right: 6px;
       
      }
      .not-this-month {
        color: rgb(172, 166, 166);
      }
      .today {
        color: rgb(89, 243, 0);
      }
      .select {
        font-weight: bold;
        color: rgb(49, 172, 0);
        border: 2px solid #cc0000;
        border-radius: 50%;
      }
      .have{
        box-shadow: none;
        color: #fff;
      
      }
    }
}
