$categories: (
 ionic: color($colors, colorp),
 angular: #3BC7C4,
 communication: #3BC7C4,
 tooling: #3BC7C4,
 services: #3BC7C4,
 design: #3BC7C4,
 workshop: #3BC7C4,
 food: #3BC7C4,
 documentation: #3BC7C4,
 navigation: #3BC7C4,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 1px solid $value;
     padding-left: 10px;
   }
  }
}
